body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
  background-color: rgb(209, 234, 255);
}

#content {
  padding: 1em;
  background-color: rgb(159, 218, 233);
  width: 40em;
  display: flex;
  flex-direction: column;
}
#authorLogo{
  display: flex;
  justify-content: space-between;
}

#gitmergingvvsrebase{
  display: flex;
  justify-content: space-around;
}

.photolabel{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#gitlogo {
  width: 15em;
  height: auto;
}

#content * {
  
  padding-bottom:1em;
 
}